.lt-sort{
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    padding: 0 10px;
    li{
        float: left;
        width: 25%;
        font-size: 12px;
        &.active a{
            color: orange;
        }
        a{
            color: #666;
            display: block;
            text-align: center;
            
        }
    }
}