<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘商城-商品详情</title>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./lib/fa/css/font-awesome.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/product.css">
</head>

<body>
    <div class="lt-app">
        <div class="lt-header">
            <a href="javascript:history.back();" class="header-left">
                <span class="mui-icon mui-icon-arrowleft"></span>
            </a>
            <h4>商品详情</h4>
            <a href="javascript:location.reload();" class="header-right">
                <span class="mui-icon mui-icon-reload"></span>
            </a>
        </div>

        <div class="lt-main">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!-- 挖个坑 -->
                </div>
            </div>


        </div>



        <div class="lt-go-cart mui-clearfix">
            <div class="footer-left mui-pull-left">
                <a href="cart.html" class="mui-btn-link">去购物车</a>
            </div>
            <div class="footer-right mui-pull-right">
                <button class="mui-btn btn-add-cart mui-btn-danger">加入购物车</button>
                <button class="mui-btn mui-btn-warning">立即购买</button>
            </div>
        </div>
    </div>

    <!-- 模板引擎 -->
    <script type="text/template" id="tmp">
        <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img src="{{pic[pic.length-1].picAddr}}" />
                        </a>
                    </div>
                    {{each pic v i}}
                    <div class="mui-slider-item">
                        <a href="#">
                            <img src="{{v.picAddr}}" />
                        </a>
                    </div>
                    {{/each}}
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img src="{{pic[0].picAddr}}" />
                        </a>
                    </div>
                </div>
                <div class="mui-slider-indicator">
                    {{each pic v i}}
                    <div class="mui-indicator {{i===0? 'mui-active':''}}"></div>
                    {{/each}}
                </div>
            </div>
            <div class="descPro">
                <div class="pro-name">
                    <strong>{{proName}}</strong>
                </div>
                <div class="price">
                    <span>价格：
                        <span class="now">￥{{price}}</span>
                        <span class="old">￥{{oldPrice}}</span>
                    </span>
                </div>
                <div class="size">
                    尺码：
                    <% var arr = size.split('-') %>
                    <% for(var i = +arr[0]; i <= arr[1]; i++ ){ %>
                    <span data-size={{i}}> <%= i %> </span>
                    <% } %>
                                             
                </div>
                <div class="num" data-num='{{num}}'>
                    <span>数量：</span>
                    <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='{{num}}'>
                        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                        <input class="mui-numbox-input" type="number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                    </div>
                    <span class="span-sm">剩余数量：{{num}}双</span>
                </div>
                <div class="details">
                    <span>详情：</span>
                    <span>{{proDesc}}</span>
                </div>
            </div>
    </script>

    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="./lib/mui/js/mui.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/product.js"></script>
</body>

</html>