.mui-input-group .mui-input-row {
  margin: 10px;
}
.mui-input-group .mui-input-row input {
  border: 1px solid #ccc;
}
.mui-input-group:before {
  height: 0;
}
.mui-input-group:after {
  height: 0;
}
.mui-input-group .get-left {
  width: 65%;
  float: left;
}
.mui-input-group .get-right {
  width: 25%;
  float: right;
  margin: 10px 10px 10px 0;
  text-align: right;
}
.mui-input-group .get-right button {
  line-break: 40px;
  height: 40px;
  width: 100%;
}
.mui-input-group .btn-register {
  width: 100%;
  height: 40px;
}
.mui-input-group .tips {
  font-size: 12px;
}
